@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-calendars/styles/material.css";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.noBullets{
  list-style: none;
}

.navLink{
  color: rgba(255, 255, 255, 0.85);
}

.userIcon{
  width: 50px;
  height: auto;
  border-radius: 30px;
  align-items: center;
  border: 5px;
  border-color: white;
}

.userName{
  font-size: 1.2rem;
  align-items: center;
}

.centerUser{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
}

.hidden{
  display: none;
}

.searchWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search {
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
}

.searchInputs {
  border: 20px solid transparent;
  opacity: 0.8;
  font-size: 18px;
}

.dates{
  text-align: center;
}

.box3 {
  height: 35vh;
  background-image: url("./images/opaque_backg.png");
  margin: 20vh 10vh 10vh 10vh;
  border-radius: 4px;
  overflow-x: visible;
  overflow-y: visible;

}

.e-daterangepicker.e-popup .e-range-header {
  background: beige;
  height: 10px;
}

.background_image{
  background-image: radial-gradient(at center center, #2d7e9270 0%, #1c40617c 100%), url("./images/view.jpg");
  background-size: cover;
  height: 90vh;
  background-position: center;

 
}
.navigationbar{
  background: #08243f;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.menuItems {
  padding: 30px 40px 0px 90px;
  font-size: 1.2rem;
}

.menuItems a {
  list-style: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.85);
  padding: 10px 20px;
  border-radius: 4px;


}
.menuBar {
  display: flex;
  list-style: none;
  justify-content: center;
}
.menuItems a:hover {
  background-color:#407fdd;
  cursor: pointer;
}
.navigation_toggle {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.85);
  display: none;
  
}
.name_logo {
  color: rgba(255, 255, 255, 0.85);
 padding: 20px 0px 0px 20px;
 cursor: pointer;

}

.accDescription {
  display: block;
  margin: 20px;
  margin-right: 0;
}

.boxContainer {
  display: inline-block;
  width: auto;
  width:auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bookHotel {
  display: block;
}

.ui.button.bookHotelButton {
  padding: 20px;
  border-radius: 6px;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  background-color:#08243f;
  color: white;

}

.ui.button.backButton {
  border-radius: 6px;
  background-color:#08243f;
  color: white;
  margin: 20px 0px 0px 20px;
  position:absolute;
}

.firstMessage {
  font-size: 15px;
  font-weight: bold;
  color: #252525;
  margin: 40px; 
}

.show{
  display: inline-block;
}

.ui.button.loginButton {
  padding: 30px;
  background-color:#08243f;
  color: white;
}

.ui.button.checkPreviousSearchButton {
  padding: 20px;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: -40%;
  margin-left: 45%;
  border: none;
  cursor: pointer;
  background-color:#08243f;
  color: white;
  align-self:center;

}

.box {
  height: 80%;
  background-image: url("./images/opaque_backg.png");
  margin: 0vh 5vh 0vh 5vh;
  overflow-y: auto;
  justify-content: center;
  text-align: center;
  overflow-y:visible;
}

.tripBox {
  height: 80%;
  background-image: url("./images/opaque_backg.png");
  margin: 0vh 5vh 0vh 5vh;
  overflow-y: auto;
  justify-content: center;
  text-align: center;
}

.detBox {
  height: 80%;
  background-image: url("./images/opaque_backg.png");
  margin: 0vh 5vh 0vh 5vh;
  overflow-y: auto;
  justify-content: center;
}

.tripContainer{
  display: flex;
  align-items: center;
  text-align: center;
  margin: 30px; 
}

.boxItems{
  width: 1200x;
  height: auto;
  padding: 30px 30px;
  display: inline-block;
  justify-content: center;
  text-align: center;
  

}
.boxItems:hover{
  background-color:#2d7e9270;
  border-radius: 10px;
  cursor: pointer;
  
}
::-webkit-scrollbar {
  background-color: #848991;
  width: 12px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #08243f;
  width: 12px;
  border-radius: 10px;
}
.reviews{
  background-color: rgba(255, 255, 255, 0.7);
  margin:10px 45px 0px 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding:10px;
  width: 50%;
  border-radius: 3px;
  align-items: flex-start;

}
.reviewer{
  font-style: oblique;
  text-decoration: underline;
  font-size: medium;
  

}
.button{
  margin: 10px 10px;
  display: inline-block;
  font-size: 16px;
  margin-left: 55px;
 
  background-color:#abb8c2;
  opacity: 0.8;
  cursor: pointer;
  min-width: 100px;
  margin-bottom: -50%;

}
.button:hover{
  background-color:#a3a4a57c;


}
.reviewContent{

  text-align: justify;
}

.detailsAcc_elements{
display: inline-block;
width: 100%;

}
.imageWrapper{
  display: flex;
  justify-content: center;
}

.images{
  margin: 0 80px 0px 20px;
  height: 600px;
  width: 950px;
padding-left: 50px;
justify-content: center;
border-radius: 10px;
padding-top: 10px;
 
}
.accomodationTitle{
  font-size: large;
  font-style: bold;
  text-align: center;
  padding-top: 20px;

}
.leftArrow{
  position:relative;
  color: #08243f;
  margin-top: 20%;
  cursor: pointer;
}

.rightArrow{
  position: relative;
  color: #08243f;
  margin-top: 20%;
  cursor: pointer;

}
.leafletMap{
  position: relative;
  width: 100vw;
  height: 88vh;
  

 
}

.searchActivity{
  position:absolute;

  height: 20px;
  margin-left: 350px;
  z-index: 9999;

  margin-bottom: -40%;
}

.flightsContainer {
  display:flex;
  background-color: white;
  background: rgba(255, 255, 255, 0.5);
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.detContainer {
  display:flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.flightsItem {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #363636;
}

.flightBar {
  height: 4px; 
  width: 200px; 
  background-color: #363636;
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

.flight {
  display:flex;
}

.ui.button.bookFlight {
  padding: 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color:#08243f;
  color: white;
  z-index: 2;
}

.duration{
  font-size: 12px;
}

.flightHeader {
  opacity: 0.85;
  width: auto;
  height: auto;
  background-color: white;
  color: #363636;
  text-align:center;
  font-size: 20px;
  padding: 20px;
  margin: 0vh 5vh 0vh 5vh;
  z-index: -999;
}

.boxHeader{
  background: rgba(255, 255, 255, 0.5);
  width: auto;
  height: auto;
  color: #363636;
  text-align:center;
  font-size: 20px;
  padding: 20px;
}

.t {
  font-size: 13px;
  display: block;
  margin-top: 10px;
}

.bold {
  font-size: 14px;
  display: block;
  font-weight: bold;
}

.searchAButton{
 margin-left: 570px;

}
.box2 {
  height: 250px;
  top: 30%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 500px;
  align-items: center;
  justify-content: center;
  text-align: center;

}
.dropdown{
  font-size: 15px;
  padding-bottom: -80px;

}
.popup{
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  
}
.popupText{
  font-size: px;
  margin-bottom: 20px
}



@media(max-width: 800px)
{
   .navigation_toggle {
     display: flex;
     position: absolute;
     font-size: 1.2rem;
     size: 1.2rem;
     align-items: right;
    
     
   }
   /*.menuBar {
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 85vh;
    top: 15vh;
    background-color: #1c40617c;
    font-size: 1.2rem;
   
   }

   .menuItems {
     padding: 40px 0px 60px 0px;

   }*/
   

}







